Repository ApprenticeGC/ithome-ironman-2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, run-python-tests, validate-github-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args: ["detect", "--no-banner", "--exit-code", "1", "--source", "."]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ["--line-length=120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]

  - repo: local
    hooks:
      - id: python-syntax-check
        name: Python Syntax Check
        entry: python
        language: system
        files: \.py$
        args: [-m, py_compile]
        pass_filenames: true

      - id: run-python-tests
        name: Run Python Tests
        entry: python
        language: system
        files: ^scripts/python/production/.*\.py$
        args: [scripts/python/tools/run_tests.py]
        pass_filenames: false

      - id: validate-github-workflows
        name: Validate GitHub Workflows
        entry: python
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        args: [-c, "import yaml, sys; workflows=[yaml.safe_load(open(f, encoding='utf-8')) for f in sys.argv[1:]]; [print(f'OK {f} - Valid YAML') for f in sys.argv[1:]]"]
        pass_filenames: true

feat(workflow): add PAT-based Projects v2 demo workflow
  .github/workflows/projects-v2-pat-demo.yml
  docs/github-projects-token-troubleshooting.md
Due: validate-github-workflows

fix(workflow): improve Projects v2 GraphQL queries
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

feat(workflow): add create-repo-issue-and-add-to-project action
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

fix(workflow): remove non-existent automation label
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

feat(workflow): add add-existing-issue-to-project action
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

feat(workflow): add automatic project status updates on assignment
  .github/workflows/update-project-status-on-assignment.yml
Due: validate-github-workflows

feat(workflow): add automatic issue-to-project assignment
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

fix(workflow): correct GraphQL mutation field name
  .github/workflows/projects-v2-pat-demo.yml
Due: validate-github-workflows

fix(workflow): manual edits applied
  .github/workflows/projects-v2-pat-demo.yml
  scripts/add-issue-to-project.sh
Due: validate-github-workflows

feat(test): implement RFC-102-02 assignment status workflow test (#117)
  .github/workflows/rfc-102-02-assignment-status-test.yml
  docs/RFC-102-02-README.md
  docs/flow-rfcs/RFC-102-02-test-assignment-status-workflow.md
  scripts/python/production/test_assignment_status_workflow.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): implement RFC-120-01 final automation test (#121)
  docs/RFC-120-01-README.md
  docs/flow-rfcs/RFC-120-final-automation-test.md
  scripts/python/production/validate_rfc_120_test.py
Due: python-syntax-check, run-python-tests

fix(workflow): correct project status field names
  .github/workflows/update-project-status-on-assignment.yml
Due: validate-github-workflows

feat(project): implement complete project status automation flow
  .github/workflows/projects-v2-pat-demo.yml
  .github/workflows/update-project-status-on-assignment.yml
  .github/workflows/update-project-status-on-pr.yml
Due: validate-github-workflows

fix(automation): resolve final linting issue
  .github/workflows/update-project-status-on-assignment.yml
  scripts/python/production/requirements.txt
  scripts/python/production/update_project_status.py
  tests/test_update_project_status.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(automation): implement issue creation → Backlog status transition for RFC-098-01 (#125)
  .github/workflows/update-project-status-on-assignment.yml
  scripts/python/production/update_project_status.py
  tests/demo_rfc_098_01.py
  tests/test_rfc_098_01_integration.py
  tests/test_update_project_status.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

[WIP] RFC-098-02: Assignment Test (#129)
  scripts/python/production/test_rfc_098_assignment.py
  tests/rfc-098-02-README.md
Due: python-syntax-check, run-python-tests

feat(test): implement RFC-098-03 PR Status Workflow Test (#130)
  scripts/python/production/test_rfc_098_03_pr_workflow.py
  tests/test_rfc_098_03_integration.py
Due: python-syntax-check, run-python-tests

fix(tests): clean up final linting issues
  scripts/python/tests/README.md
  scripts/python/tests/__init__.py
  scripts/python/tests/test_ensure_automerge.py
  scripts/python/tests/test_project_board_integration.py
  scripts/python/tests/test_rfc_cleanup.py
  scripts/python/tests/test_runner.py
  scripts/python/tests/test_scripts.py
  tests/README-RFC-097-01.md
  tests/README.md
  tests/RFC-092-03-Validation.md
  tests/__init__.py
  tests/automation/__init__.py
  tests/automation/test_automerge.py
  tests/automation/test_github_scripts.py
  tests/automation/test_project_board.py
  tests/automation/test_project_status.py
  tests/automation/test_rfc_cleanup.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/integration/__init__.py
  tests/integration/test_end_to_end.py
  tests/rfc-092-01-README.md
  tests/unicode-validation-RFC-097-01.md
  tests/utils/__init__.py
  tests/utils/run_tests.sh
  tests/utils/test_runner.py
  tests/validation/__init__.py
  tests/validation/test_unicode_validation.py
Due: python-syntax-check

refactor(python): reorganize to standard Python project structure
  .github/workflows/update-project-status-on-assignment.yml
  scripts/python/requirements.txt
  scripts/python/tests/README.md
  scripts/python/tests/__init__.py
  scripts/python/tests/automation/__init__.py
  scripts/python/tests/automation/test_automerge.py
  scripts/python/tests/automation/test_github_scripts.py
  scripts/python/tests/automation/test_project_board.py
  scripts/python/tests/automation/test_project_status.py
  scripts/python/tests/automation/test_rfc_cleanup.py
  scripts/python/tests/conftest.py
  scripts/python/tests/fixtures/__init__.py
  scripts/python/tests/integration/__init__.py
  scripts/python/tests/integration/test_end_to_end.py
  scripts/python/tests/utils/__init__.py
  scripts/python/tests/utils/run_tests.sh
  scripts/python/tests/utils/test_runner.py
  scripts/python/tests/validation/__init__.py
  scripts/python/tests/validation/test_unicode_validation.py
Due: python-syntax-check, validate-github-workflows

refactor(tools): consolidate all development tools under scripts/python/tools
  scripts/python/tools/README.md
  scripts/python/tools/setup_dev.py
  tools/setup_dev.py
Due: python-syntax-check

cleanup: remove unused .trigger-ci file
  .trigger-ci
Due: none

refactor(docs): move test validation file to docs directory
  docs/AUTOMATION_IMPLEMENTATION_STATUS.md
  docs/test-automation-validation.md
Due: none

refactor(logs): move workflow runs data to logs directory
  runs.json
Due: none

refactor(requirements): remove empty root requirements directory and fix setup_dev.py
  requirements/README.md
  scripts/python/tools/setup_dev.py
Due: python-syntax-check

refactor(docs): reorganize documentation into logical subdirectories
  docs/automation/AUTOMATION_FLOW_ANALYSIS.md
  docs/automation/AUTOMATION_IMPLEMENTATION_STATUS.md
  docs/automation/AUTOMATION_PIPELINE.md
  docs/automation/AUTOMATION_RULES.md
  docs/automation/AUTOMATION_TROUBLESHOOTING.md
  docs/automation/GITHUB_PROJECTS_INTEGRATION.md
  docs/automation/WORKFLOW-RESET.md
  docs/automation/WORKFLOW_ANALYSIS.md
  docs/automation/github-projects-token-troubleshooting.md
  docs/flow-rfcs/RFC-102-01-README.md
  docs/flow-rfcs/RFC-102-02-README.md
  docs/flow-rfcs/RFC-120-01-README.md
  docs/game-rfc-test-93/PLACEHOLDER.md
  docs/game-rfc-test-95/PLACEHOLDER.md
  docs/validation/UNICODE_ENCODING_VALIDATION.md
  docs/validation/test-automation-validation.md
Due: none

fix(tests): resolve pytest warnings and improve test quality
  pyproject.toml
  scripts/python/tests/integration/test_rfc_098_01_integration.py
  scripts/python/tests/integration/test_rfc_098_03_integration.py
  scripts/python/tests/validation/test_unicode_validation.py
Due: python-syntax-check

docs: add branch cleanup log documenting merged branch removal
  docs/branch-cleanup-log.md
Due: none

docs: add comprehensive session handover document
  docs/SESSION-HANDOVER.md
Due: none

feat(build): add NUKE build automation project
  .gitignore
  build/nuke/.nuke/parameters.json
  build/nuke/build.cmd
  build/nuke/build.ps1
  build/nuke/build.sh
  build/nuke/build/.editorconfig
  build/nuke/build/Build.cs
  build/nuke/build/Configuration.cs
  build/nuke/build/Directory.Build.props
  build/nuke/build/Directory.Build.targets
  build/nuke/build/_build.csproj
  build/nuke/build/_build.csproj.DotSettings
Due: none

refactor: organize .gitignore files by technology scope
  .gitignore
  build/.gitignore
  dotnet/.gitignore
  scripts/python/.gitignore
Due: none

refactor: use GitHub billing API for accurate runner usage
  README.md
  scripts/python/production/runner_usage.py
  scripts/python/tools/run_tests.py
Due: python-syntax-check, run-python-tests

feat: enable Dependabot version updates
  .github/dependabot.yml
Due: none

fix: assign Dependabot PRs to gemini for review
  .github/dependabot.yml
Due: none

feat: add Gemini Code Assist bot to Dependabot reviews
  .github/dependabot.yml
Due: none

test: verify Gemini Code Assist integration
  README.md
Due: none

fix: support both user and organization billing API endpoints
  scripts/python/production/runner_usage.py
Due: python-syntax-check, run-python-tests
