Repository ApprenticeGC/ithome-ironman-2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, run-python-tests, validate-github-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args: ["detect", "--no-banner", "--exit-code", "1", "--source", "."]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ["--line-length=120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]

  - repo: local
    hooks:
      - id: python-syntax-check
        name: Python Syntax Check
        entry: python
        language: system
        files: \.py$
        args: [-m, py_compile]
        pass_filenames: true

      - id: run-python-tests
        name: Run Python Tests
        entry: python
        language: system
        files: ^scripts/python/production/.*\.py$
        args: [scripts/python/tools/run_tests.py]
        pass_filenames: false

      - id: validate-github-workflows
        name: Validate GitHub Workflows
        entry: python
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        args: [-c, "import yaml, sys; workflows=[yaml.safe_load(open(f, encoding='utf-8')) for f in sys.argv[1:]]; [print(f'OK {f} - Valid YAML') for f in sys.argv[1:]]"]
        pass_filenames: true

fix: skip project status updates for Dependabot PRs
  .github/workflows/update-project-status-on-pr.yml
Due: validate-github-workflows

fix(test): Replace Assert.True(false) with Assert.Fail() for XUnit 2.9.3 compatibility
  dotnet/TestLib.Tests/CIFailureValidationTests.cs
Due: none

feat: implement comprehensive Notion RFC automation system
  .flake8
  .github/workflows/rfc-automation.yml
  docs/NOTION-RFC-AUTOMATION.md
  docs/flow-rfcs/Flow-RFC-001-2-layer-rfc-architecture.md
  docs/flow-rfcs/Flow-RFC-002-notion-integration-system.md
  docs/flow-rfcs/Flow-RFC-003-content-transformation-rules.md
  docs/flow-rfcs/Flow-RFC-004-deduplication-change-detection.md
  docs/flow-rfcs/Flow-RFC-005-github-integration-enhancement.md
  scripts/python/production/generate_micro_issues_collection.py
  scripts/python/production/generate_micro_issues_from_rfc.py
  scripts/python/production/notion_page_discovery.py
  scripts/python/tests/test_data.py
  scripts/python/tests/test_rfc_automation.py
  scripts/python/tests/test_rfc_runner.py
  scripts/python/tests/test_scripts.py
  scripts/python/tools/run_tests.py
  test_results.json
Due: python-syntax-check, run-python-tests, validate-github-workflows

fix: use single-line Python scripts in RFC workflow to avoid YAML syntax errors
  .github/workflows/rfc-automation.yml
Due: validate-github-workflows

feat(core): implement RFC-001-01 Tier 1 Base Interfaces (#147)
  dotnet/GameConsole.Core.Abstractions.Tests/GameConsole.Core.Abstractions.Tests.csproj
  dotnet/GameConsole.Core.Abstractions.Tests/InterfaceContractTests.cs
  dotnet/GameConsole.Core.Abstractions.Tests/InterfaceUsageExampleTests.cs
  dotnet/GameConsole.Core.Abstractions.Tests/ServiceAttributeTests.cs
  dotnet/GameConsole.Core.Abstractions/GameConsole.Core.Abstractions.csproj
  dotnet/GameConsole.Core.Abstractions/ICapabilityProvider.cs
  dotnet/GameConsole.Core.Abstractions/IService.cs
  dotnet/GameConsole.Core.Abstractions/IServiceMetadata.cs
  dotnet/GameConsole.Core.Abstractions/ServiceAttribute.cs
  dotnet/TestSolution.sln
Due: none

fix: redact exposed Notion token and update runner usage workflow
  .github/workflows/runner-usage-badge.yml
  2025-09-18-can-you-check-in-detail-what-this-repo-is-about-be-001.txt
  2025-09-18-can-you-check-in-detail-what-this-repo-is-about-be-002.txt
  2025-09-18-can-you-check-in-detail-what-this-repo-is-about-be-003.txt
  2025-09-18-can-you-check-in-detail-what-this-repo-is-about-be-005.txt
  rfc_tracking.db
  scripts/python/production/runner_usage.py
  scripts/python/production/runner_usage_alternative.py
  test_results.json
Due: python-syntax-check, run-python-tests, validate-github-workflows

auto: update test results
  test_results.json
Due: none

fix(workflow): add fallback to alternative runner usage script
  .github/workflows/runner-usage-badge.yml
Due: validate-github-workflows

feat(registry): implement Service Registry Pattern with dependency injection container (#148)
  dotnet/GameConsole.Core.Registry.Tests/AttributeRegistrationTests.cs
  dotnet/GameConsole.Core.Registry.Tests/CircularDependencyTests.cs
  dotnet/GameConsole.Core.Registry.Tests/GameConsole.Core.Registry.Tests.csproj
  dotnet/GameConsole.Core.Registry.Tests/GlobalUsings.cs
  dotnet/GameConsole.Core.Registry.Tests/PerformanceTests.cs
  dotnet/GameConsole.Core.Registry.Tests/ServiceLifecycleIntegrationTests.cs
  dotnet/GameConsole.Core.Registry.Tests/ServiceProviderTests.cs
  dotnet/GameConsole.Core.Registry/Examples/ServiceRegistryExample.cs
  dotnet/GameConsole.Core.Registry/GameConsole.Core.Registry.csproj
  dotnet/GameConsole.Core.Registry/IServiceRegistry.cs
  dotnet/GameConsole.Core.Registry/ServiceDescriptor.cs
  dotnet/GameConsole.Core.Registry/ServiceProvider.cs
  dotnet/GameConsole.Core.Registry/ServiceScope.cs
  dotnet/TestSolution.sln
Due: none

[WIP] GAME-RFC-001-06: Create Tier 2 Engine Service Interfaces (#152)
  dotnet/GameConsole.Engine.Core/GameConsole.Engine.Core.csproj
  dotnet/GameConsole.Engine.Core/IFrameRateManager.cs
  dotnet/GameConsole.Engine.Core/IPhysicsService.cs
  dotnet/GameConsole.Engine.Core/IResourceManager.cs
  dotnet/GameConsole.Engine.Core/ISceneManager.cs
  dotnet/GameConsole.Engine.Core/IUpdateLoop.cs
  dotnet/TestSolution.sln
Due: none

fix: detect duplicate issues regardless of open/closed state
  scripts/python/production/generate_micro_issues_from_rfc.py
Due: python-syntax-check, run-python-tests

fix: resolve formatting issues in GameConsole.Core.Abstractions.Tests (#170)
  dotnet/GameConsole.Core.Abstractions.Tests/InterfaceContractTests.cs
  dotnet/GameConsole.Core.Abstractions.Tests/InterfaceUsageExampleTests.cs
  dotnet/GameConsole.Core.Abstractions.Tests/ServiceAttributeTests.cs
Due: none

feat(plugins): implement RFC-004-01 Plugin Interface Framework (#192)
  dotnet/GameConsole.Plugins.Core.Tests/GameConsole.Plugins.Core.Tests.csproj
  dotnet/GameConsole.Plugins.Core.Tests/InterfaceContractTests.cs
  dotnet/GameConsole.Plugins.Core.Tests/PluginAttributeTests.cs
  dotnet/GameConsole.Plugins.Core.Tests/PluginLifecycleEventArgsTests.cs
  dotnet/GameConsole.Plugins.Core.Tests/PluginUsageExampleTests.cs
  dotnet/GameConsole.Plugins.Core/GameConsole.Plugins.Core.csproj
  dotnet/GameConsole.Plugins.Core/IPlugin.cs
  dotnet/GameConsole.Plugins.Core/IPluginContext.cs
  dotnet/GameConsole.Plugins.Core/IPluginLifecycleEvents.cs
  dotnet/GameConsole.Plugins.Core/IPluginMetadata.cs
  dotnet/GameConsole.Plugins.Core/PluginAttribute.cs
  dotnet/GameConsole.Plugins.Core/PluginLifecycleEventArgs.cs
  dotnet/TestSolution.sln
Due: none

[WIP] GAME-RFC-013-02: Create Configuration Security and Encryption (#204)
  dotnet/GameConsole.Configuration.Security/GameConsole.Configuration.Security.csproj
Due: none
