Repository ApprenticeGC/ithome-ironman-2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, run-python-tests, validate-github-workflows

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        args: ["detect", "--no-banner", "--exit-code", "1", "--source", "."]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ["--line-length=120"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=120"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]

  - repo: local
    hooks:
      - id: python-syntax-check
        name: Python Syntax Check
        entry: python
        language: system
        files: \.py$
        args: [-m, py_compile]
        pass_filenames: true

      - id: run-python-tests
        name: Run Python Tests
        entry: python
        language: system
        files: ^scripts/python/production/.*\.py$
        args: [scripts/python/tools/run_tests.py]
        pass_filenames: false

      - id: validate-github-workflows
        name: Validate GitHub Workflows
        entry: python
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        args: [-c, "import yaml, sys; workflows=[yaml.safe_load(open(f, encoding='utf-8')) for f in sys.argv[1:]]; [print(f'OK {f} - Valid YAML') for f in sys.argv[1:]]"]
        pass_filenames: true

chore(projects): limit pr status workflow triggers
  .github/workflows/update-project-status-on-pr.yml
Due: validate-github-workflows

chore(projects): limit pr status workflow triggers (#316)
  .github/workflows/update-project-status-on-pr.yml
Due: validate-github-workflows

fix(ci): guard dispatch against missing refs
  .github/workflows/ci-dispatch.yml
Due: validate-github-workflows

fix(ci): guard dispatch against missing refs (#317)
  .github/workflows/ci-dispatch.yml
Due: validate-github-workflows

fix(ci): resolve refs before automation dispatches
  scripts/python/production/auto_approve_or_dispatch.py
  scripts/python/production/monitor_pr_flow.py
Due: python-syntax-check, run-python-tests

feat(flow): add chain health scan and assignment mutex
  .github/workflows/assign-copilot-to-issue.yml
  .github/workflows/chain-health-scan.yml
  docs/flow-rfcs/Flow-RFC-008-chain-consistency-and-atomic-reset.md
  docs/flow-rfcs/Flow-RFC-009-assignment-mutex-and-race-prevention.md
  scripts/python/production/chain_consistency_manager.py
  scripts/python/production/rfc_assignment_mutex.py
  scripts/python/tests/automation/test_assignment_mutex.py
  scripts/python/tests/automation/test_chain_consistency.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add chain health scan and assignment mutex (#318)
  .github/workflows/assign-copilot-to-issue.yml
  .github/workflows/chain-health-scan.yml
  docs/flow-rfcs/Flow-RFC-008-chain-consistency-and-atomic-reset.md
  docs/flow-rfcs/Flow-RFC-009-assignment-mutex-and-race-prevention.md
  scripts/python/production/auto_approve_or_dispatch.py
  scripts/python/production/chain_consistency_manager.py
  scripts/python/production/monitor_pr_flow.py
  scripts/python/production/rfc_assignment_mutex.py
  scripts/python/tests/automation/test_assignment_mutex.py
  scripts/python/tests/automation/test_chain_consistency.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add reliable notion ingestion pipeline
  .github/workflows/rfc-automation.yml
  .github/workflows/runner-usage-badge.yml
  docs/flow-rfcs/Flow-RFC-006-sqlite-rfc-tracking-fix.md
  docs/flow-rfcs/Flow-RFC-007-reliable-notion-rfc-ingestion.md
  docs/flow/NOTION_INGESTION.md
  scripts/python/production/generate_micro_issues_collection.py
  scripts/python/production/generate_micro_issues_from_rfc.py
  scripts/python/production/notion_reliability.py
  scripts/python/production/rfc_db_v2.py
  scripts/python/tests/automation/test_notion_reliability.py
  scripts/python/tests/automation/test_rfc_db_v2.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): route event bus signals downstream
  .github/workflows/assign-copilot-to-issue.yml
  .github/workflows/chain-health-scan.yml
  .github/workflows/event-router.yml
  docs/events/schema/repository-dispatch.schema.json
  docs/events/schema/rfc.chain.broken.json
  docs/events/schema/rfc.issue.assigned.json
  docs/flow-rfcs/Flow-RFC-010-central-coordination-and-event-signaling.md
  scripts/python/production/chain_consistency_manager.py
  scripts/python/production/event_bus.py
  scripts/python/tests/automation/test_event_bus.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): route event bus signals downstream (#319)
  .github/workflows/assign-copilot-to-issue.yml
  .github/workflows/chain-health-scan.yml
  .github/workflows/event-router.yml
  docs/events/schema/repository-dispatch.schema.json
  docs/events/schema/rfc.chain.broken.json
  docs/events/schema/rfc.issue.assigned.json
  docs/flow-rfcs/Flow-RFC-010-central-coordination-and-event-signaling.md
  scripts/python/production/chain_consistency_manager.py
  scripts/python/production/event_bus.py
  scripts/python/tests/automation/test_event_bus.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add orchestrator cli and reusable workflows
  .github/workflows/auto-approve-workflows.yml
  .github/workflows/auto-merge-monitor.yml
  .github/workflows/chain-health-scan.yml
  .github/workflows/ci-dispatch.yml
  .github/workflows/pr-flow-monitor.yml
  .github/workflows/reusable-ci-dispatch.yml
  .github/workflows/reusable-pr-merge.yml
  docs/flow-rfcs/Flow-RFC-013-workflow-consolidation-and-simplification.md
  scripts/python/production/orchestrator_cli.py
  scripts/python/tests/automation/test_orchestrator_cli.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add orchestrator cli and reusable workflows (#320)
  .github/workflows/auto-approve-workflows.yml
  .github/workflows/auto-merge-monitor.yml
  .github/workflows/chain-health-scan.yml
  .github/workflows/ci-dispatch.yml
  .github/workflows/pr-flow-monitor.yml
  .github/workflows/reusable-ci-dispatch.yml
  .github/workflows/reusable-pr-merge.yml
  docs/flow-rfcs/Flow-RFC-013-workflow-consolidation-and-simplification.md
  scripts/python/production/orchestrator_cli.py
  scripts/python/tests/automation/test_orchestrator_cli.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add shadow monitor workflow for RFC-013 phase2
  .github/workflows/flow-monitor-shadow.yml
  docs/flow-rfcs/Flow-RFC-013-workflow-consolidation-and-simplification.md
  scripts/python/production/orchestrator_cli.py
  scripts/python/tests/automation/test_orchestrator_cli.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): add shadow monitor workflow for RFC-013 phase2 (#321)
  .github/workflows/flow-monitor-shadow.yml
  docs/flow-rfcs/Flow-RFC-013-workflow-consolidation-and-simplification.md
  scripts/python/production/orchestrator_cli.py
  scripts/python/tests/automation/test_orchestrator_cli.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

feat(flow): allow notion page input in micro generator workflow
  .github/workflows/generate-micro.yml
Due: validate-github-workflows

feat(flow): allow notion page input in micro generator workflow (#322)
  .github/workflows/generate-micro.yml
Due: validate-github-workflows

feat(flow): allow notion page input in micro generator workflow
  .github/workflows/generate-micro.yml
  scripts/python/production/list_notion_collection_pages.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

chore(flow): freeze copilot assignment for dependency plan
  .github/workflows/assign-copilot-to-issue.yml
  docs/status/rfc-dependency-freeze.md
Due: validate-github-workflows

chore(dev): add notion RFC export workflow
  .github/workflows/export-rfc-dependencies.yml
  scripts/python/production/export_rfc_page_metadata.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

docs: add preliminary rfc dependency map
  docs/status/rfc-dependencies.json
Due: none

chore(flow): freeze copilot assignment for dependency plan (#377)
  .github/workflows/assign-copilot-to-issue.yml
  .github/workflows/export-rfc-dependencies.yml
  docs/status/rfc-dependencies.json
  docs/status/rfc-dependency-freeze.md
  scripts/python/production/export_rfc_page_metadata.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

chore(dev): improve notion RFC series detection
  scripts/python/production/export_rfc_page_metadata.py
Due: python-syntax-check, run-python-tests

docs: refresh notion-derived dependency map
  docs/status/rfc-dependencies.json
Due: none

feat(flow): enforce rfc dependency map in generator and mutex
  scripts/python/production/generate_micro_issues_from_rfc.py
  scripts/python/production/rfc_assignment_mutex.py
Due: python-syntax-check, run-python-tests

feat(flow): enforce RFC dependency ordering (#379)
  docs/status/rfc-dependencies.json
  scripts/python/production/export_rfc_page_metadata.py
  scripts/python/production/generate_micro_issues_from_rfc.py
  scripts/python/production/rfc_assignment_mutex.py
Due: python-syntax-check, run-python-tests

chore: derive RFC dependencies from architecture docs
  docs/status/rfc-dependencies.json
  scripts/python/tools/update_rfc_dependencies.py
Due: python-syntax-check

chore: derive RFC dependencies from architecture docs (#380)
  docs/status/rfc-dependencies.json
  scripts/python/tools/update_rfc_dependencies.py
Due: python-syntax-check

feat(contracts): retarget Tier-1 contracts to .NET Standard 2.0 (#384)
  dotnet/GameConsole.Core.Abstractions/GameConsole.Core.Abstractions.csproj
  dotnet/GameConsole.Graphics.Core/GameConsole.Graphics.Core.csproj
  dotnet/GameConsole.Input.Core/GameConsole.Input.Core.csproj
  dotnet/GameConsole.Input.Core/IService.cs
  dotnet/GameConsole.Input.Core/InputModels.cs
  dotnet/GameConsole.Input.Core/README.md
  dotnet/GameConsole.Input.Services.Tests/InputServicesIntegrationTests.cs
  dotnet/GameConsole.Input.Services/BaseInputService.cs
Due: none

feat(audio): implement RFC-001 Tier 1 audio service contract (#385)
  dotnet/GameConsole.Audio.Core.Tests/AudioInterfaceContractTests.cs
  dotnet/GameConsole.Audio.Core.Tests/GameConsole.Audio.Core.Tests.csproj
  dotnet/GameConsole.Audio.Core/GameConsole.Audio.Core.csproj
  dotnet/GameConsole.Audio.Core/IService.cs
  dotnet/GameConsole.Audio.Core/README.md
  dotnet/TestSolution.sln
Due: none

fix(ci): curb ci-dispatch retries on drafts
  .github/workflows/auto-merge-monitor.yml
  scripts/python/production/monitor_pr_flow.py
Due: python-syntax-check, run-python-tests, validate-github-workflows

chore(workflow): bump actions/download-artifact to v5
  .github/workflows/rfc-automation.yml
Due: validate-github-workflows

chore(workflow): bump actions/download-artifact to v5 (#396)
  .github/workflows/rfc-automation.yml
Due: validate-github-workflows
